{% if not env.pywb_proxy_magic or config.proxy.enable_banner | default(true) %}
<script>
window.banner_info = {
    is_gmt: true,

    liveMsg: decodeURIComponent("{{ _Q('Live on') }}"),

    calendarAlt: decodeURIComponent("{{ _Q('Calendar icon') }}"),
    calendarLabel: decodeURIComponent("{{ _Q('View All Captures') }}"),
    choiceLabel: decodeURIComponent("{{ _Q('Language:') }}"),
    loadingLabel: decodeURIComponent("{{ _Q('Loading...') }}"),
    logoAlt: decodeURIComponent("{{ _Q('Logo') }}"),

    locale: "{{ env.pywb_lang | default('en') }}",
    curr_locale: "{{ env.pywb_lang }}",
    locales: {{ locales }},
    locale_prefixes: {{ get_locale_prefixes() | tojson }},
    prefix: "{{ wb_prefix }}",
    staticPrefix: "{{ static_prefix }}"
};
</script>

<!-- default banner, create through js -->
<script id="comment-prompt" type="text/html">
<div class="jumbotron" style="position: absolute; left: calc(50vw - 400px); top: calc(50vh - 300px); width: 800px; height: 600px;">
    <div class="container">
        <div class="col">
            <h3>Comment</h3>
        </div>
        <div class="col">
            <label for="comment-area" hidden></label>
            <textarea id="comment-area" style="max-height: 400px; min-height: 300px; width: 100%;"></textarea>
        </div>
        <div class="col">
            <button id="comment-cancel" class="btn btn-primary">Cancel</button>
            <button id="comment-submit" class="btn btn-primary" style="float: right">Submit</button>
        </div>
    </div>
</div>
</script>
<script src='{{ static_prefix }}/default_banner.js'> </script>
<script defer src='{{ static_prefix }}/modify_banner.js'></script>
<link rel='stylesheet' href='{{ static_prefix }}/default_banner.css'/>
<link rel="stylesheet" href="{{ static_prefix }}/bootstrap.min.css">

{% endif %}
