{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 class="display-2">{{ _('Pywb Wayback Machine') }}</h2>
        <p class="lead">This archive contains the following collections:</p>
    </div>
    <input type="file" id="filepicker" name="fileList" webkitdirectory multiple/>
    <div class="row">
        <ul>
            {% for route in routes %}
            <li>
                <a href="{{ env['pywb.app_prefix'] + '/' + route }}">{{ '/' + route }}</a>
                {% if all_metadata and all_metadata[route] %}
                ({{ all_metadata[route].title }})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    default_url = "http://localhost:6969"

    async function post(endpoint, body) {
        return fetch(default_url + "/" + endpoint, {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: 'same-origin',
            headers: {
                "Content-Type": "application/json",
                "Origin": "http://localhost/8080"
            },
            referrerPolicy: 'no-referrer',
            body: body
        })
    }

    function postFolder(folder) {
        return post("add_collection",
            JSON.stringify({
                "folder": folder
            }))
    }

    const filepicker = document.getElementById("filepicker");
    if (filepicker) {
        filepicker.addEventListener("change", function (event) {
            if (!event.target.files) {
                return;
            }
            console.log(filepicker.classList)
            let files = event.target.files;
            folder = files[0].webkitRelativePath.split("/")[0];
            postFolder(folder).catch(e => {
                console.log(e);
            })
        }, false);
    }
</script>
{% endblock %}
